//////////// c o l o r s ////////////

$body-bg: #ffffff;
$text-color: #757575;
$accent-color: #343434;

//////////// f o n t s ////////////

$regular-font: "Roboto", "Helvetica", sans-serif;
$bold-font: "Roboto Bold", "Helvetica", sans-serif;
$light-font: "Roboto Light", "Helvetica", sans-serif;
$medium-font: "Roboto Medium", "Helvetica", sans-serif;
$italic-font: "Roboto Italic", "Helvetica", sans-serif;
